{"/home/bpow/anno/niehs/niehs.95samples.polymorphic.filtered.indels.vcf": {
    "changedFields": {"AF": "NIEHSAF"}},
 "/home/bpow/anno/niehs/niehs.95samples.polymorphic.filtered.snps.vcf": {
    "changedFields": {"AF": "NIEHSAF"}},
 "/home/bpow/anno/ALL.wgs.phase1_release_v3.20101123.snps_indels_sv.sites.vcf.gz": {
    "fields": ["AMR_AF", "ASN_AF", "AFR_AF", "EUR_AF"],
    "changedFields": {"AF": "TGAF"}},
 "/home/bpow/anno/dbsnp135ncbi.vcf.gz" : {
    "fields": ["SCS", "GMAF", "CLN", "PM", "G5A", "G5"]},
 "/home/bpow/anno/ESP5400.vcf.gz": {
    "fields": ["GTS", "EA_GTC", "AA_GTC", "FG", "GM", "AA", "AAC", "PP", "CDP", "CG", "GS", "CA"],
    "changedFields": {"DP": "ESPDP", "GL": "ESPGL"}}
}


